<!DOCTYPE html>

<html>

<title>Angular examples</title>

<link rel="stylesheet" type="text/css" href="angular.css">

<body>

<!--You can't run two ng-app at the same time-->    

<div ng-app="myApp" ng-controller="testController" ng-init="quantity=20; cost= 15; person={firstname: 'Sid', lastname: 'Jay', number:67}; range=[10,20,40,80,160,320]" class="thisApp">

    <div class="innards">
        <!--angular uses templating similar to handlebars to target the DOM-->
        <p>My name is {{person.firstname + " " + person.lastname}}.</p>

        <p> Total is : {{quantity + cost}} </p>

        <p> Rank is: {{person.number}} </p>

        <p>
            <ul>
                <li ng-repeat="ranges in range"> 
                    Range is : {{ranges}}
                </li>
            </ul>
        </p>


        <!--angular can change the DOM on the fly-->
        <p> First name: <input type="text" ng-model="test.firstname"></p>

        <p> Last name: <input type="text" ng-model="test.lastname"></p>

        <p> enter amount: <input type="text" ng-model="test.fees"></p>

        <!--apply filters using pipes and parameters-->
        <p>You have entered: {{test.fullname() | lowercase}}</p>

        <p> {{test.splitname() | uppercase}} </p>

        <p> {{test.pushname()}} </p>

        <p>Total is : {{test.myfees() | currency}}</p>

        <p>Click counter: {{myClicks}}</p>

        <!--ng-click only seems to work with whole numbers in this example-->
        <button ng-click="myClicks = myClicks + 2">Click</button>

        <!--add another field using ng-controller-->
        <div ng-controller="anothercontroller">
            <p>{{another.newnumber}}</p>
            
            <p>{{another.crunchnumber()}}</p>
        </div>

    </div>

    <div ng-app="myApp" ng-controller="studentController">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" ng-model="student.firstName"></td>
            </tr>


            <tr>
                <td>Last Name:</td>
                <td><input type="text" ng-model="student.lastName"></td>
            </tr>

            <tr>
                <td>Amount:</td>
                <td><input type="text" ng-model="student.fees"</td>
            </tr>

            <tr>
                <td>Course:</td>
                <td><input type="text" ng-model="student.course"></td>
            </tr>

        </table>

        <table>

            <tr>
                <td> Name (Uppercase):</td>
                <td>{{student.studentName() | uppercase}}</td>
            </tr>

            <tr>
                <td>Name (Lowercase):</td>
                <td>{{student.studentName() | lowercase}}</td>
            </tr>

            <tr>
                <td>Amount due:</td>
                <td>{{student.fees | currency}}</td>
            </tr>

            <tr>
                <td>Subject:</td>
                <td>
                    <ul>
                        <li ng-repeat="subject in student.subjects() | filter: subject.name | orderBy: 'marks'">
                            {{subject.name + ' - marks : ' + subject.marks }}
                        </li>
                    </ul>
                </td>
            </tr>

        </table>
    </div>

</div>

<!--don't forget to use the Angular CDN-->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js">
</script>

<!--this is the module file-->
<script src="myApp.js"></script>

<!--this is the controller file-->
<script src="testController.js"></script>

</body>    

</html>